/*Tags*/
* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/*Classes*/

.card {
  height: 30rem !important;
  position: relative;
}

.card-body {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.cardtamanho {
  height: 60%;
}

.botoes-drep {
  position: absolute;
  bottom: 10px;
  margin: 0;
}

.nav {
  background-color: #000;
}

.menu {
  font-size: 24px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.btn-group a {
  border-radius: 0;
  width: 110px;
  background-color: #212529;
  color: #fff;
}

.btn-mais {
  border-radius: 0;
  width: 110px !important;
  background-color: #fff;
  color: #212529;
}

.nav-item {
  margin-left: 1rem;
}

.icone.navbar-toggler-icon {
  filter: invert(100%);
}

.sobre {
  display: flex;
  flex-direction: row;
  background-color: #212529;
  justify-content: center;
  padding: 7rem 10rem;
}

.sobre-caixa {
  padding-right: 10rem;
  width: 974px;
}

.sobre-esquerda {
  width: 44rem;
  height: 12rem;
  margin: 0;
  padding: 0;
}

.sobre-esquerda .icones-contato {
  justify-content: center;
}

.sobre-texto {
  color: gray;
  height: 10rem;
  width: 42rem;
}

.titulosobre {
  color: #000;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-top: 2rem;
  font-size: 42px;
  font-weight: bold;
}

.sobremim {
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  justify-content: center;
  padding: 4rem 4rem;
}

.imgperfil {
  border-radius: 50%;
  height: 18rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.navbar-nav li a:hover {
  color: grey !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.icone.navbar-toggler-icon {
  filter: invert(100%);
}

.scroll-link {
  font-size: 24px;
  color: #fff;
  padding: 0.7rem;
  border-radius: 100%;
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

.icone-conhecimentos {
  color: #fff;
  text-align: center;
}

.tconhecimentos {
  text-align: center;
  justify-content: center;
  background-color: #000;
  margin: 0;
  padding-top: 2rem;
  color: #fff;
  font-size: 42px;
}

.tprojetos {
  text-align: center;
  justify-content: center;
  background-color: #212529;
  margin: 0;
  padding-top: 2rem;
  color: #fff;
  font-size: 42px;
}

.whatsapp-icon {
  height: 24px;
}

.contato {
  background-color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
  align-self: flex-end;
  width: 400px;
}

.icones-contato {
  display: flex;
  flex-direction: row;
}

.tcontato {
  font-size: 24px;
  color: #000;
}

.iconelink {
  padding: 3rem 0;
  margin: 0 3rem;
}

.iconecima {
  border-radius: 1rem;
  width: 85px;
}

.iconecima:hover {
  opacity: 50%;
}

.conhecimentos {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.icones-tecnologias {
  height: 120px;
  margin: 2rem;
  transition: transform 0.3s ease-in-out;
}

.icones-tecnologias:hover {
  opacity: 150%;
  transform: scale(1.5);
}

.resumotec {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

.resumotec:hover {
  font-weight: bold;
  opacity: 150%;
  transform: scale(1.4);
  background-color: #000;
}

.rodape {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  align-items: end;
  justify-content: center;
}

.botoes-drep {
  margin: 1rem;
  margin-bottom: 0;
}

.tbemvindo {
  margin-top: 1rem;
  height: 5rem;
  width: 35rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.text-center p {
  color: #000 !important;
}

.appear {
  opacity: 1;
}

/*  Ids */

#projetos {
  display: none;
}

#mais {
  padding: 5px 10px;
  font-size: 14px;
  width: auto;
  margin: 0 auto;
  font-weight: bold;
  align-items: center;
  font-family: "Roboto";
}

#bemvindo {
  text-align: start;
}

#icone {
  height: 20px;
}

#mcontato {
  margin-right: 8rem;
}

/*media querys */

@media (min-width: 1220px) {
  .sobremim{
    padding: 10rem 15rem;
    line-height: 3rem;
    font-weight: bold;
    
  }

  .sobre{height: 42rem;}
}

@media (max-width: 920px) {
  .sobre {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: start;
  }

  .iconelink {
    padding-top: 0;
  }

  .sobre-texto {
    height: 9rem;
  }

  .tbemvindo {
    width: 42rem;
    text-align: center;
    justify-content: center;
  }

  .tbemvindo h1 {
    font-size: 3rem;
    color: #fff;
  }

  .sobre-caixa {
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 1rem;
  }

  .imgperfil {
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 10rem;
  }

  .conhecimentos {
    display: flex;
    flex-wrap: wrap;
  }

  .icones-contato {
    align-items: center;
    justify-content: center;
  }

  .sobre-esquerda {
    height: 24rem;
  }

  #bemvindo {
    line-height: 3rem;
  }

  #log {
    line-height: 4rem;
  }

  #bemvindo {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .sobre {
    justify-content: start;
  }
  .tbemvindo {
    width: 24rem;
    height: 9rem;
    text-align: center;
    justify-content: center;
  }

  .tbemvindo h1 {
    font-size: 3rem;
    color: #fff;
  }

  .sobre-esquerda {
    width: 24rem;
    height: 24rem;
    align-items: center;
    justify-content: center;
  }

  .sobre-texto {
    height: 12rem;
    width: 24rem;
    text-align: center;
    justify-content: center;
  }

  .imagemperfil {
    margin: 0;
    padding: 0;
  }

  #bemvindo {
    line-height: 3rem;
  }

  #log {
    line-height: 4rem;
  }

  .sobremim p {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 490px) {
  .sobremim p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0rem;
    margin-top: 2rem;
  }
}

@media (max-width: 420px) {
  .sobre {
    margin: 0;
    padding: 0;
    justify-content: start;
  }

  .sobre-caixa {
    align-items: center;
    justify-content: center;
    padding: 0rem;
    margin: 0;
  }

  .sobre-texto {
    height: 12rem;
    width: 24rem;
    text-align: center;
    justify-content: center;
  }

  #bemvindo {
    line-height: 3rem;
  }

  #log {
    line-height: 4rem;
  }

  .tbemvindo {
    height: 12rem;
    width: 24rem;
    text-align: center;
    justify-content: center;
  }

  .tbemvindo h1 {
    font-size: 3rem;
    color: #fff;
  }

  .sobremim {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
  }
}

@media (max-width: 385px) {
  .sobre-texto {
    width: 18rem;
    height: 16rem;
    margin-left: 2.5rem;
  }

  #bemvindo {
    text-align: center;
  }

  .icones-contato {
    margin-top: 1rem;
    height: 2.5rem;
  }

  .sobremim {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
  }
}
